@import "../../../styles/settings.scss";

.form {
  display: flex;
  .title,
  .article,
  .status,
  .submit {
    width: 100%;
    margin: 10px 0;
  }
  .submit {
    color: $light-color;
    background: $dark-color;
  }
}
