@import "../../../styles/settings.scss";

.root {
  min-height: 100vh;
  background: $brand-color;
  padding: 1px 20px;
}

.logo {
  font-style: italic;
  color: $light-color;
  font-size: 30px;
  line-height: 20px;
}
