@import "../../../styles/settings.scss";

.head {
  width: fit-content;
  margin: auto;
}

.link {
  text-decoration: none;
  color: $dark-color;
}

.button {
  background: $button-color;
  color: $light-color;
  font-size: 20px;
  .link {
    color: $light-color;
  }
}

.button:hover {
  background: $button-hover-color;
}

.list {
  margin-top: 15px;

  .card {
    margin: 10px 0;

    .content {
      padding-bottom: 10px;

      .author,
      .date,
      .more {
        color: $button-hover-color;
        font-size: 13px;
        margin: 5px 0;
      }

      .title {
        margin: 5px 0;
      }

      .description {
        margin: 10px 0;
      }

      .more {
        padding-left: 0;
      }

      .more:hover {
        color: $brand-color;
        background: none;
      }
    }
  }
}
