@import "../../../styles/settings.scss";

.panel {
  width: 30%;
  height: 170px;
  margin: auto;
}

.title {
  text-align: center;
  margin: auto;
}

.google {
  background: red;
  color: white;
  font-size: 20px;
  margin: auto;
}

.google:hover {
  background: gray;
}
