@import "../../../styles/settings.scss";

.head {
  width: fit-content;
  margin: auto;
}

.button {
  background: red;
  color: white;
  font-size: 20px;
}

.button:hover {
  background: gray;
}

.list {
  margin-top: 15px;

  .card {
    margin: 10px 0;

    .content {
      padding-bottom: 10px;

      .author,
      .date,
      .more {
        color: gray;
        font-size: 13px;
        margin: 5px 0;
      }

      .title {
        margin: 5px 0;
      }

      .description {
        margin: 10px 0;
      }

      .more {
        padding-left: 0;
      }

      .more:hover {
        color: orange;
        background: none;
      }
    }
  }
}
