@import "../../../styles/settings.scss";

.panel {
  width: 30%;
  height: 170px;
  margin: auto;
  padding-top: 45px;
}

.title {
  text-align: center;
  margin: auto;
}

.home {
  text-align: center;
  margin: 10px;

  a {
    text-decoration: none;
    color: $light-color;
  }

  a:hover {
    color: $dark-color;
  }
}
